<html>
    <head>
        <title>New Article</title>
        <link rel="stylesheet" type = "text/css" href = '/Styles/styles.css'>
        </head>
        <body>
        <div id="container">        
            <div id="top-menu">
                <%- include ("./partials/menu") %></div>
            <div id="header">Header</div>
            <div id="status_bar"><div id="options">Admin Articles Have Been Deleted! </div></div>
            <div id="content">
                <div class = "article">                
                <div class = "article_image">
                </div>
                <div class = "article_date">Article Date</div>
                <div class = "article_author">Article Author</div>
                <div class = "article_text">
                </div> 
                <div class = "article">
                    <div class = "article_image">
                    <div class = "article_title">Article Title</div>
                    </div>
                    <div class = "article_date">Article Date</div>
                    <div class = "article_author">Article Author</div>
                    <div class = "article_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                    </div> 
                    <div class = "article">
                        <div class = "article_image">
                        <div class = "article_title">Article Title</div>
                        </div>
                        <div class = "article_date">Article Date</div>
                        <div class = "article_author">Article Author</div>
                        <div class = "article_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                        </div> 
                        <div class = "article">
                            <div class = "article_image">
                            <div class = "article_title">Article Title</div>
                            </div>
                            <div class = "article_date">Article Date</div>
                            <div class = "article_author">Article Author</div>
                            <div class = "article_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                            </div> 
                            <div class = "article">
                                <div class = "article_image">
                                <div class = "article_title">Article Title</div>
                                </div>
                                <div class = "article_date">Article Date</div>
                                <div class = "article_author">Article Author</div>
                                <div class = "article_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                                </div> 
                                <div class = "article">
                                    <div class = "article_image">
                                    <div class = "article_title">Article Title</div>
                                    </div>
                                    <div class = "article_date">Article Date</div>
                                    <div class = "article_author">Article Author</div>
                                    <div class = "article_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                                    </div> 
                                    <div class = "article">
                                        <div class = "article_image">
                                        <div class = "article_title">Article Title</div>
                                        </div>
                                        <div class = "article_date">Article Date</div>
                                        <div class = "article_author">Article Author</div>
                                        <div class = "article_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                                        </div> 
    </div>
    <div id = "footer">
        <%- include ("./partials/footer") %>
    </div>
    </body>
</html>