<html>
    <head>
        <title>Experience</title>
        <link rel="stylesheet" type = "text/css" href = 'Styles/styles.css'>
    </head>
    <body>
        <div id="container">        
            <div id="top-menu">
                <%- include ("./partials/menu") %></div>
            <div id="header">Header</div>
            <div id="status_bar">Status_bar</div>
            <div id="content">
            <div class="cv_company">
                <div class="cv_logo">logo</div>
                <div class="cv_popis">Popis</div>
                <div class="cv_tech_stack">Tech stack</div>
                <div class="cv_memories">Vzpominky</div>
            </div>
            Board,
            VF, 
            KPMG,
            CommerzBank
            Indian
            </div>
            <div id = "footer">
                <%- include ("./partials/footer") %></div>
            </div>
     </body>
</html>