<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" type = "text/css" href = 'Styles/tailwind.css'>
    </head>
    <body>
        <div id="container">    
            
            <div id="top-menu">
                <%- include ("./partials/menu") %></div>
            <div id="header"></div>
            <div id="status_bar">Status_bar</div>
            <div id="content">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/m_RoShRgLAU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div id="footer"><%- include ("./partials/footer") %></div>
    </div>
    </body>
</html>