<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" type = "text/css" href = 'Styles/tailwind.css'>
    </head>
    <body>
        <div id="container">    
            
            <div id="top-menu">
                <%- include ("./partials/menu") %></div>
            <div id="header"></div>
            <div id="status_bar">Status_bar</div>
            <div id="content">
        <div id="footer"><%- include ("./partials/footer") %></div>
    </div>
    </body>
</html>