<html>
    <head>
        <title>Public/index</title>
        <link rel="stylesheet" type = "text/css" href = '/Styles/styles.css'>
    </head>
    <body>
        <div id="container">        
            <div id="top-menu">
                <%- include ("./partials/menu") %></div>
            <div id="header">Header</div>
            <div id="status_bar">Status_bar</div>
            <div id="content">
            New User
            </div>
            <div id = "footer">
                <%- include ("./partials/footer") %></div>
            <div>
     </body>
</html>