<!DOCTYPE html>
<html>
    <head>
        <title>New Article</title>
        <link rel="stylesheet" type = "text/css" href = '/Styles/styles.css'>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
          tinymce.init({
            selector: '#mytextarea',
            width: 950,
            height: 400,
            plugins: [
              'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
              'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime',
              'media', 'table', 'emoticons', 'template', 'help'
            ],
            toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
              'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
              'forecolor backcolor emoticons | help',
            menu: {
              favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons' }
            },
            menubar: 'favs file edit view insert format tools table help',
            content_css: 'css/content.css'
          });
          </script>
        </head>
        <body>

            <div id="container">        
                <div id="top-menu"><%- include ("./partials/menu") %></div>
                <div id="header">Header</div>
                <div id="status_bar"><div id="options">Create New Article</div></div>
                <div id="content">
                <form action="/articles" method="post">
                        <label for="article_title">Article Title</label>
                        <input type="text" id="article_title" name="article_title" required><br>
                        <label for="article_author">Article Author:</label>
                        <input type="text" id="article_author" name="article_author" required><br>
                        <textarea id="mytextarea" name="article_text">Hello, World! FUCK</textarea>                 
                        <br>
                        <input type="submit" value="Submit">
                      </form>
                </div>    
        <div id = "footer">
        <%- include ("./partials/footer") %>
        </div>
    </body>
</html>
