<html>
    <head>
        <title>Public/index</title>
        <link rel="stylesheet" type = "text/css" href = 'Styles/styles.css'>
    </head>
    <body>
        <div id="container">        
            <div id="top-menu">
                <%- include ("./partials/menu") %></div>
            <div id="header">Header</div>
            <div id="status_bar">Status_bar</div>
            <div id="content">
            Template
         <!-- Coolors Palette Widget -->
      <script src="https://coolors.co/palette-widget/widget.js"></script>
      <script data-id="03596174970855128">new CoolorsPaletteWidget("03596174970855128", ["02111b","3f4045","30292f","5d737e","f3f3f4"]); </script>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/m_RoShRgLAU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div id = "footer">
                <%- include ("./partials/footer") %></div>
            </div>
     </body>
</html>