@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

body {
    background-color: #02111b;
    margin: 0px;
    font-family: 'Istok Web', sans-serif;

}

html,body {
    margin:0;
    padding:0;
    height:100%;
 }

 a {
    color: white;
 }

#container {
    border: 1px solid white;
    width: 1000px;
    background-color: #f3f3f4;
    margin: auto;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    position: relative;
}

#top-menu{
    background-color: #30292f;
}

a#topmenu{
    color: red;
}

a#topmenu:hover{
    color: green;
}

#user_section {
    background-color: #02111b;
    display: block;
    float: right;
    padding: 10px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

/** **/

h1{
    color: white;
}

#header {
    background-image: url('../imgs/web_header.jpg');
    background-color: #5d737e;
    height: 136px;
    padding: 20px;
    font-size: large;
    text-align: right;
    display: flexbox;
}

#status_bar {
    background-color: #3f4045;
    color: 3f4045;
}

#content {
    color: black;
    margin-bottom: 75px;
}

#footer {
    background-color: #3f4045;
    color: blue;
    position: absolute;
    bottom: 0;
    width: 980px;
    padding: 10px;
}

#options{
    color: black;
    background-color: 5d737e;
}
ul {
    list-style-type: none;    
}


li{
    float: left;
    margin: 15px;
    list-style: none;   
    color: red;
}

li.a{
    float: left;
    margin: 15px;
}

li:hover{
    list-style-type: square;
}

.article{
    margin-top: 10px;
    border: 1px dotted black;
}

.article_image{
    padding: 25px;
    width: 950px;
    background-image: url('../imgs/article_banner.png');
    height: 50px;
}

.article_date{
    float: right;
    clear: both;
    padding: 10px;
    border-bottom: 1px solid black;
}

.article_author{
    clear: left;
    padding: 10px;
    border-bottom: 1px solid black;
}

.article_text{
    padding: 20px;
    overflow: hidden;
}

.article_footer{
    background-color: 5d737e;
    text-align: right;
    padding: 5px;
}



#comment_section{
    margin-top: 15px;
    border-top: 1px solid black;
}

.article_comment{
    margin: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

#user_comment{
    padding: 10px;
    border-top: 1px solid gray;
    clear:right;
}

.article_comments_text{
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
}

/** CV Blocks 

.cv_company {
    border: 1px solid black;
}
.cv_logo {

}
.cv_popis{

}
.cv_tech_stack{

}
.cv_memories{

}

**/